@import "../utils/mixins";
.footer {
  &__border {
    padding: 2% 0;
    border-bottom: 1px dotted #d5d5d5;
  }
  &__navigation {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    .arial-10-400;
    color: @grey;
    text-align: center;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
      color: @grey;
    }
    &:focus {
      text-decoration: none;
      color: @blue;
    }
  }
  &__copyright {
    .arial-10-400;
    color: @greyLighter;
    text-align: center;
    text-transform: uppercase;
    padding: 2% 0;
  }
}